*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    /* cores */
    --primary-color: #2C513C;
    --green-less: #62BE8D;
    --white-color: #fff;
    --black-color:#000;
    /* textos */
    --weight-title:800;
    --weight-paragraph:400;
}html {
    scroll-behavior: smooth;
  }
a{
    text-decoration: none !important;
}
body{
    max-width: 1440px;
    display: block;
    width: 100%;
    font-family: 'Kumbh Sans';
    margin: 0 auto;
    color: var(--white-color);
    font-size: 18px;
    font-weight: var(--weight-paragraph);

}

header{
    background-color: var(--primary-color);
}
/* menu */
.menu-top{
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
    align-items: center;
}
.logo{
    width: 5rem;
}
.menu-top ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 15px;
}
.menu-item{
    width: fit-content;
    height: fit-content;
}
.menu-item_link{
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    color: var(--white-color);
    transition: transform 0.4s ease;
}

.menu-item_link:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1)

}
.redes{
    display: flex;
    gap: 40px;
}
.redes a{
    color: var(--white-color);
}
/* baneer */
.banner{
    display: flex;
    background-image: url('./../img/imgBanner.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 90vh;
    align-items: center;
}
h1{
    font-weight: 400;
    font-size: 3rem;
    margin-left: 10vw;
    width: 30rem;
}
strong{
    margin-left: 10px;
    font-weight: var(--weight-title);
}
/* section sobre */
.sobre{
    background-image: url("./../img/backgroundSobre.png");
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.sobre-body{
    display: grid; 
    grid-template-columns: auto auto; 
    grid-template-rows: 20% 20%; 
    gap: 10px;
    grid-template-areas: 
    "titulo img"
    "paragh img";
    width: 90%;
    padding: 40px 32px;
}
.title-sessao{
    grid-area: titulo;
    color: #64BDB1;
    font-size: 48px;
    font-weight: var(--weight-title);
}
.sessao-parag{
    color: var(--black-color);
    grid-area: paragh;
}
.img-sobe{
    grid-area: img;
}
/* section adocao */
.adocao{
    background-image: url('./../img/backgoundAdocao.png');
    display: flex;
    flex-flow: row wrap;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 70vh;
    padding-bottom: 50px;

    align-items: center;
    justify-content: space-around;
}
.adocao .title-sessao{
    color: var(--white-color);
    display: block;
    width: 100%;
    text-align: center;
}
.card{
    display: flex;
    position: relative;
    background-color: inherit;
    border: none;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.card-title{
    display: block;
    font-size: 35px;
   color: var(--white-color);
   font-weight: var(--weight-title);
}
/* caroucel animas description */
.caroucelAnimal{
    z-index: 2;
    background-color: #fff;
}
.card-adote,.card-apadrinhe,.dog-description{
    background-image: url('./../img/dog.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.card-apadrinhe{background-image: url('./../img/cat.png');}
.card-doe{background-image: url('./../img//clinica.png');}
.dog-description{
    background-image: url('./../img/background-dogDescription.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-right: 30px;

}
.img-dogDescription{
    width: 54%;
    height: 80vh;
}
.dog-descri_body{
    width: 40%;
}
.arrowAdot{
    color: #000;
    margin-right: 20px;
    padding: 10px;
}
.arrowAdot:hover{
    display: inline-block;
    margin: 0 1rem;
    animation: tada; 
    animation-duration: 2s;  
  }
.carousel{
width: 100% !important;
height: 50vh;
margin-bottom: 150px;
}
.carousel-control{
    width: fit-content;
    margin-top: 20% ;
}
.card:hover{
    display: inline-flex;
    cursor: pointer;
  animation: bounce; 
  animation-duration: 0.7s; 
}