*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    /* cores */
    --primary-color: #2C513C;
    --green-less: #62BE8D;
    --white-color: #fff;
    --black-color:#000;
    /* textos */
    --weight-title:800;
    --weight-paragraph:400;
}html {
    scroll-behavior: smooth;
  }
a{
    text-decoration: none !important;
}
body{
    max-width: 1440px;
    display: block;
    width: 100%;
    font-family: 'Kumbh Sans';
    margin: 0 auto;
    color: var(--white-color);
    font-size: 18px;
    font-weight: var(--weight-paragraph);

}

header{
    background-color: var(--primary-color);
}
/* menu */
.menu-top{
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
    align-items: center;
}
.logo{
    width: 5rem;
}
.menu-top ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 15px;
}
.menu-item{
    width: fit-content;
    height: fit-content;
}
.menu-item_link{
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    color: var(--white-color);
    transition: transform 0.4s ease;
}

.menu-item_link:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1)

}
.redes{
    display: flex;
    gap: 40px;
}
.redes a{
    color: var(--white-color);
}
/* baneer */
.banner{
    display: flex;
    background-image: url('./../img/imgBanner.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 90vh;
    align-items: center;
}
h1{
    font-weight: 400;
    font-size: 3rem;
    margin-left: 10vw;
    width: 30rem;
}
strong{
    margin-left: 10px;
    font-weight: var(--weight-title);
}
/* section sobre */
.sobre{
    background-image: url("./../img/backgroundSobre.png");
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.sobre-body{
    display: grid; 
    grid-template-columns: auto auto; 
    grid-template-rows: 20% 20%; 
    gap: 10px;
    grid-template-areas: 
    "titulo img"
    "paragh img";
    width: 90%;
    padding: 40px 32px;
}
.title-sessao{
    grid-area: titulo;
    color: #64BDB1;
    font-size: 48px;
    font-weight: var(--weight-title);
}
.sessao-parag{
    color: var(--black-color);
    grid-area: paragh;
}
.img-sobe{
    grid-area: img;
}