.banner {
    display: flex;
    background-image: url('../images/banners/7c741c494705_sjpa03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 90vh;
    align-items: center;
    filter: brightness(90%);
}

h1 {
    font-weight: 400;
    font-size: 6rem;
    text-shadow: 10px 5px 5px #2C513C;
    margin-left: 10vw;
    width: 60rem;
}

strong {
    margin-left: 10px;
    font-weight: var(--weight-title);
}

/* section sobre */
.sobre {
    background-image: url("../images/banners/backgroundSobre.png");
    display: flex;
    width: 100%;
    height: 100%;
    padding: 100px 50px 50px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* .sobre-body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 20% 20% 20%;
    gap: 10px;
    grid-template-areas:
        "titulo img"
        "paragh img"
        "... img";
    width: 98%;
    padding: 40px 32px;
    margin-top: 50px;

} */

.btn-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 55px;
    margin: 80px auto;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 3px;
    background-color: #2C513C;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-sobre:hover{
    background-color: #1B934F;
    color: #fff;
}

.title-sessao {
    color: var(--primary-color);
    font-weight: var(--weight-title);
    font-size: 72px;
}

.sessao-parag {
    color: var(--black-color);
    grid-area: paragh;
    font-size: 25px;
    font-weight: 500;
    width: 98%;
}

.img-sobre {
    grid-area: img;
    width: 35rem;
    height: 30rem;
    border-radius: 2%;
}

/* section adocao */
.adocao {
    background-image: url('../images/banners/backgoundAdocao.png');
    display: flex;
    flex-flow: row wrap;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    padding-bottom: 50px;

    align-items: center;
    justify-content: space-around;
}

.adocao .title-sessao {
    color: var(--white-color);
    display: block;
    width: 100%;
    text-align: center;
}

.card {
    display: flex;
    position: relative;
    background-color: inherit;
    border: none;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.animate {
    display: flex;
    animation: bounce;
    animation-duration: 1.7s;
}

.card:hover {
    display: flex;
    animation: bounce;
    animation-duration: 1s;
}

.card-title {
    display: block;
    font-size: 48px;
    color: var(--black-color);
    font-weight: var(--weight-title);
}

.card-adote,
.card-apadrinhe,
.card-doe {
    background-repeat: no-repeat;
    background-size: contain;
}

.card-adote {
    background-image: url('../images/img/card-adote.webp');
}

.card-apadrinhe {
    background-image: url('../images/img/card-apadrinhe.png');
}

.card-doe {
    background-image: url('../images/img/card-doe.jpg');
}

/* caroucel animas description */
.caroucelAnimal {
    z-index: 1;
    height: 800px;
}

.dog-description {
    background-repeat: no-repeat;
    background-size: contain;
}

.dog-description {
    background: url('../images/banners/background-dogDescription.png') no-repeat right / cover;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

section .img-dogDescription {
    width: 54vw;
    height: 800px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}

.dog-descri_body {
    width: 40%;
}


.fa-arrow-left {
    color: #fff;
    text-shadow: 5px 5px 2px #000;
}

.fa-arrow-right {
    color: #000;
    text-shadow: -5px 5px 5px #020202;
}

.arrowAdot {
    margin-right: 20px;
    padding: 10px;
}

.arrowAdot:hover {
    display: inline-block;
    margin: 0 1rem;
    animation: tada;
    animation-duration: 2s;
}

.carousel {
    width: 100% !important;
    height: 50vh;
    margin-bottom: 150px;
}

.carousel-control {
    width: fit-content;
    top: 40%;
}

/* section voluntarios */
.voluntarios {
    background-image: url('../images/banners/backgound-voluntario.svg');
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
    justify-content: center;
    gap: 70px;
    padding-bottom: 70px !important;
}

.voluntarios .title-sessao {
    display: block;
    width: 100%;
    color: var(--primary-color);
    text-align: center;
    margin-top: 40px;
}

figcaption {
    font-weight: var(--weight-title);
    color: #1B934F;
    text-align: center;
    font-size: 2rem;
}

/* Section Footer */
footer {
    display: flex;
    background-color: #1B934F;
    justify-content: space-between;
    padding: 20px 32px;
    align-items: center;

}

.title-redes {
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;

}

footer a {
    display: inline-block;
}

footer .redes {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    gap: 5px;
}

.autorais {
    margin-top: 20px;
    text-align: center;
}

.autorais span {
    font-size: 28px;
}

.redes a {
    font-size: 24px;
    display: inline-block;
    animation: bounce;
    animation-duration: 1s;
}

.redes h2 {
    font-size: 18px;
}

.redes a:nth-of-type(1) {
    display: inline-block;
    animation: bounce;
    animation-duration: 2s;
}

#cor{
    background: #64BDB1;
    height: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

#cor img{
    max-width: 100%;
    object-fit: cover;
    height: auto;
    margin-left: 10rem;
}

.fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('/assets/images/img/backgound-voluntario.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 90vh;
    align-items: center;
    object-fit: cover;
}   

.fundo h2 {
    color: #000;
    font-size: 2rem;
    padding-left: 3rem;
}

.fundo p{
    color: #000;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 500;
}

.fundo button {
    display: block;
    width: 300px;
    height: 55px;
    margin: 80px auto;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 3px;
    background-color: #2C513C;
    border: 2px solid #2C513C;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
}

.fundo button:hover {
    background-color: #1B934F;
    color: #fff;
}

.fundo .fa-brandsfa-whatsappfa-2xm{
    color: white;
}
