.banner {
    display: flex;
    background-image: url('../images/img/7c741c494705_sjpa03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    align-items: center;
    filter: brightness(70%);
}

h1 {
    font-weight: 400;
    font-size: 6rem;
    text-shadow: 2px 2px #2C513C;
    margin-left: 10vw;
    width: 60rem;
}

strong {
    margin-left: 10px;
    font-weight: var(--weight-title);
}

/* section sobre */
.sobre {
    background-image: url("../images/img/backgroundSobre.png");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.sobre-body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 20% 20% 20%;
    gap: 10px;
    grid-template-areas:
        "titulo img"
        "paragh img"
        "... img";
    width: 98%;
    padding: 40px 32px;
    margin-top: 50px;

}
.btn-sobre{
    display: block;
    width: 300px;
    height: 55px;
    margin: 80px auto;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 3px;
    background-color: #2C513C;
    border: 2px solid #2C513C;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
}
.btn-sobre:hover{
    background-color: #1B934F;
    color: #fff;
}

.title-sessao {
    grid-area: titulo;
    color: black;
    font-size: 60px;
    font-weight: var(--weight-title);
    margin-top: 90px;
   
}

.sessao-parag {
    color: var(--black-color);
    grid-area: paragh;
    font-size: 25px;
    width: 95%;
    margin-top: 70px;
}

.img-sobre {
    grid-area: img;
    height: 60vh;
    border-radius: 2%;
    
}

/* section adocao */
.adocao {
    background-image: url('../images/img/backgoundAdocao.png');
    display: flex;
    flex-flow: row wrap;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    padding-bottom: 50px;

    align-items: center;
    justify-content: space-around;
}

.adocao .title-sessao {
    color: var(--white-color);
    display: block;
    width: 100%;
    text-align: center;
}

.card {
    display: flex;
    position: relative;
    background-color: inherit;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
}


.animate {
    display: flex;
    animation: bounce;
    animation-duration: 1.7s;
}

.card:hover {
    display: flex;
    animation: bounce;
    animation-duration: 1s;
}

.card-title {
    display: block;
    font-size: 35px;
    color: var(--white-color);
    font-weight: var(--weight-title);
}

/* caroucel animas description */
.caroucelAnimal {
    z-index: 2;
    background-color: #fff;
}

.card-adote,
.card-apadrinhe,
.dog-description {
    background-image: url('../images/imagePets/pet_resized.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
}

.card-apadrinhe {
    background-image: url('../images/imagePets/pet7_resized.jpeg');
}

.card-doe {
    background-image: url('../images/imagePets/pet9_resized.jpeg');
}

.dog-description {
    background-image: url('../images/img/background-dogDescription.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;

}

section .img-dogDescription {
    width: 54%;
    height: 90vh;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}

.dog-descri_body {
    width: 40%;
}


.fa-arrow-left {
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}

.fa-arrow-right {
    color: #000;
    text-shadow: -2px 2px 5px #000;
}

.arrowAdot {
    margin-right: 20px;
    padding: 10px;
}

.arrowAdot:hover {
    display: inline-block;
    margin: 0 1rem;
    animation: tada;
    animation-duration: 2s;
}

.carousel {
    width: 100% !important;
    height: 50vh;
    margin-bottom: 150px;
}

.carousel-control {
    width: fit-content;
    top: 40%;
}

/* section voluntarios */
.voluntarios {
    background-image: url('../images/img/backgound-voluntarios.png');
    background-size: contain;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    z-index: 20;
    position: relative;
    justify-content: center;
    gap: 70px;
    padding-bottom: 70px !important;
}

.voluntarios .title-sessao {
    display: block;
    width: 100%;
    color: #D0FFD5;
    text-align: center;
    margin-top: 40px;
}

figcaption {
    font-weight: var(--weight-title);
    text-align: center;
    font-size: 2rem;
}

footer {
    display: flex;
    background-color: #1B934F;
    justify-content: space-between;
    padding: 20px 32px;
    align-items: center;

}

.title-redes {
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;

}

footer a {
    display: inline-block;
}

footer .redes {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    gap: 5px;
}

.autorais {
    margin-top: 20px;
    text-align: center;
}

.redes a {
    display: inline-block;
    animation: bounce;
    animation-duration: 1s;
}

.redes a:nth-of-type(1) {
    display: inline-block;
    animation: bounce;
    animation-duration: 2s;
}