@import url('./home.css');
@import url('./pageDoacao.css');
@import url('./pageSobre.css');
@import url('./modal.css');
@import url('./responsive.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: Kumbh Sans;
}

:root {
    /* cores */
    --primary-color: #2C513C;
    --green-less: #62BE8D;
    --white-color: #fff;
    --black-color: #000;
    /* textos */
    --weight-title: 800;
    --weight-paragraph: 400;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

body {
    /* max-width: 1440px; */
    display: block;
    width: 100%;
    font-family: 'Kumbh Sans';
    margin: 0 auto;
    color: var(--white-color);
    font-size: 20px;
    font-weight: var(--weight-paragraph);
}

header {
    background-color: var(--primary-color);
}

/* menu */
.menu-top {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    align-items: center;
    font-size: 1.5rem;
    height: 115px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo #titulo-logo, .mobile-menu #mobile-titulo-logo {
    font-size: 1.7rem;
    font-family: 'Kumbh Sans';
    color: var(--green-less);
    margin-left: 15px;
    font-weight: var(--weight-title);
}

.img-logo {
    width: 100px;
}

.menu-top ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 15px;
}

.menu-item {
    width: fit-content;
    height: fit-content;
}

.menu-item_link {
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    color: var(--white-color);
    transition: transform 0.4s ease;
}

.menu-item_link:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1)
}

.redes {
    display: flex;
    gap: 40px;
}

.redes a {
    color: var(--white-color);
}

/*Footer*/

footer .logo{
    width: 80px;
}

/* Mobile-Responsividade */
.mobile-menu {
    display: none;
    position: fixed;
    top: 100px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color:var(--primary-color);
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    z-index: 5;
    padding-top: 10px;
}

.nav-links-mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    width: 80%;
    list-style: none;
    padding: 0;
  }
  
  .hamburger,
  .close {
    width: 50px;
    height: 50px;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;
  }

  .close {
    position: fixed;
    top: 3%;
    right: 1.4%;
    background-color: #000;
    
  }

  .close img,
  .hamburger img {
    width: 40px;

    position: fixed;
    top: 30px;
    right: 10px;
  }

  .hamburger:hover {
    background: none;
    border: none;
    position: fixed;
    top: 26px;
    right: 5px;
  }

  .close:hover {
    background: none;
    position: fixed;
    top: 6px;
    right: -15px;
  }
  
  .close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
  }

  .mobile-redes {
    display: flex;
    padding-top: 20px;
    gap: 10px;
  }

 .mobile-redes a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 10px;
    border-radius: 30px;
    background-color: var(--green-less);
    gap: 200px;
    color: var(--primary-color);
  }

  .mobile-redes i {
    font-weight: 600;
  }

  .mobile-redes a:hover {
    color: var(--primary-color);
  }

  
  .flex {
    display: flex;
  }
