@import url('./home.css');
@import url('./pageDoacao.css');
@import url('./pageSobre.css');
@import url('./modal.css');
@import url('./responsive.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: Kumbh Sans;
}

:root {
    /* cores */
    --primary-color: #2C513C;
    --green-less: #62BE8D;
    --white-color: #fff;
    --black-color: #000;
    /* textos */
    --weight-title: 800;
    --weight-paragraph: 400;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

body {
    max-width: 2440px;
    min-width: 320px;
    display: block;
    width: 100%;
    font-family: 'Kumbh Sans';
    margin: 0 auto;
    color: var(--white-color);
    font-size: 20px;
    font-weight: var(--weight-paragraph);
}

header {
    background-color: var(--primary-color);
}

/* menu */
.menu-top {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    align-items: center;
    font-size: 1.5rem;
    height: 115px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo #titulo-logo,
.mobile-menu #mobile-titulo-logo {
    font-size: 1.7rem;
    font-family: 'Kumbh Sans';
    color: var(--green-less);
    margin-left: 15px;
    font-weight: var(--weight-title);
}

.img-logo {
    width: 90px;
}

.menu-top ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-top: 15px;
}

.menu-item {
    width: fit-content;
    height: fit-content;
}

.menu-item_link {
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    color: var(--white-color);
    transition: transform 0.4s ease;
}

.menu-item_link:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1)
}

.redes {
    display: flex;
    gap: 40px;
}

.redes a {
    color: var(--white-color);
}

/*Footer*/
footer .logo {
    width: 80px;
}

@media only screen and (max-width:1220px) {
    /* ============   Section Header  ============ */
    .container_logo {
        width: 70%;
    }

    .menu-top .redes {
        position: absolute;
        flex-direction: row;
        width: 90%;
        justify-content: center;
        margin: 370px 0 0;
        height: fit-content;
    }

    .container_menu-mobile,
    .logo-text {
        display: block;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
    }

    .menu-top-mobile_none {
        display: none;
    }

    .menu-top-mobile_aparence {
        position: absolute;
        margin: 100px 0 0 -40px;
        background-color: var(--primary-color);
        padding: 0;
        width: 100vw;
        height: 100vh;
        top: 0;
        z-index: 100;
    }

    .menu-top-mobile_aparence ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        align-items: center;
        gap: 15px;
    }

    .menu-top-mobile_aparence ul a:hover {
        display: block;
        background-color: var(--white-color);
        color: var(--primary-color);
        border-radius: 16px;
        width: 220px;
        text-align: center;
    }

    /* ============   Section Sobre   ============ */
    .title-sessao {
        font-size: 40px;
    }

    .sessao-parag {
        color: var(--black-color);
        grid-area: paragh;
        font-size: 20px;
        font-weight: 500;
        width: 98%;
    }

    .img-sobre {
        grid-area: img;
        width: 20rem;
        height: 20rem;
        border-radius: 2%;
        padding-top: 2em;
    }

    /* ============   Section Adoção  ============ */
    .adocao {
        background-repeat: repeat;
        background-size: auto;
        height: fit-content;
        gap: 25px;

        padding-top: 30px;
    }

    .card {
        background-size: cover;
        width: 380px;
        height: 300px;
    }

    .card-title {
        font-size: 30px;
    }

    .adocao h2 {
        font-size: 50px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    /* ============   Section Header  ============ */
    .banner h1 {
        width: 90% !important;
        font-size: 4rem;
    }

    /* ============   Section Sobre   ============ */
    .sobre {
        display: flex;
        flex-direction: column;
        padding: 100px 10px 50px 10px;
    }

    h2.title-sessao {
        font-size: 30px;
    }

    .sobre-body {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .btn-sobre {
        width: 200px;
        height: 45px;
        font-size: 1rem;
        margin: 40px auto;
    }

    .img-sobre {
        display: none;
    }

    /* ============   Section Adoção  ============ */
    .card {
        width: 250px;
        height: 200px;
    }

    .adocao h2 {
        font-size: 32px;
    }

    /* ============   Section caroucel  ============ */
    .caroucelAnimal {
        height: 70vh;
    }

    .dog-descri_body {
        padding: 0 100px 0 50px;
    }

    .dog-description .img-dogDescription {
        width: 100rem;
        height: 70vh;
    }

    /* ============   Section Voluntários  ============ */
    .voluntarios {
        height: fit-content;
        background-size: 300%;
        background-repeat: repeat;
    }

    .voluntarios figure {
        padding: 0 80px;
        background-color: #ffffffb2;
    }

    .title-sessao {
        font-size: 2rem;
    }
}

@media(max-width:767px) {
    /* ============   Section Header  ============ */
    .img-logo {
        width: 70px;
    }

    .banner h1 {
        width: 70% !important;
        font-size: 2.5rem;
    }

    /* ============   Section Sobre   ============ */
    .sobre {
        padding: 30px 10px 0 10px;
    }

    h2.title-sessao {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .sobre .sessao-parag {
        font-size: 20px;
        font-weight: 500;
        /* line-height: 22px; */
        padding-bottom: 0;
    }

    .img-sobre {
        display: none;
    }

    .btn-sobre {
        width: 180px;
        height: 35px;
        font-size: 0.8rem;
        margin: 40px auto;
    }

    /* ============   Section Adoção  ============ */
    .card {
        width: 250px;
        height: 200px;
    }

    .adocao h2 {
        font-size: 24px;
    }

    /* ============   Section Voluntários  ============ */
    .voluntarios {
        height: fit-content;
        background-size: 100%;
        background-repeat: repeat;
    }

    .voluntarios figure {
        padding: 0 80px;
        background-color: #ffffffb2;
    }

    /* ============   Section carousel  ============ */
    .caroucelAnimal {
        height: auto;
    }

    .dog-description {
        position: relative;
    }

    .dog-description .img-dogDescription {
        padding: 20px auto;
        width: 100vw;
        height: 70vh;
        border-radius: 0;
        object-fit: cover;
    }

    .dog-descri_body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 10px 0;
    }

    .dog-descri_body h3 {
        font-size: 30px;
        margin: 0;
        color: var(--green-less);
    }

    .dog-descri_body p {
        color: #fff;
        padding: 0;
        margin: 5px 0 0 0;
        font-size: 18px;
    }
}

@media (max-width: 425px) {

    /* ============   Section Adoção  ============ */
    .card {
        width: 250px;
        height: 200px;
    }

    .card-title h2 {
        font-size: 18px;
    }

    /* ============   Section carousel  ============ */
    .dog-description .img-dogDescription {
        height: 50vh;
    }

    .dog-descri_body h3 {
        font-size: 24px;
    }

    .dog-descri_body p {
        font-size: 16px;
    }

    /* ============   Section Footer  ============ */
    footer {
        flex-direction: column;
    }
}
