/* section descrição */
* {
    font-family: 'Kumbh Sans', sans-serif;
}

.doacao-descricao {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #5EB867;
}

.doacao-descricao figure {
    display: block;
    width: fit-content;
    height: fit-content;
}

.doacao-descricao img {
    width: 570px;
    height: auto;
    float: left; 
    margin-right: 10em;
}


.descricao {
    width: 40%;
    height: fit-content;
}

.doacao-descricao h2.title-sessao {
    color: var(--white-color);
}

.doacao-descricao h2.title-sessao span {
    display: block;
    font-size: 2rem;
    line-height: 5px;
}

.doacao-descricao .sessao-parag {
    color: var(--white-color);
    text-align: justify;
    margin-top: 1em;
}

/* section valores */
.doacao_valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/banners/fundo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 115vh;
}



.doacao_valores h1 {
    font-size: 4.4rem;
    font-weight: var(--weight-title);
    color: white;
    margin-right: 45%;
    margin-top: 5vh;
}


.doacao_valores button {
    width: 20rem;
    height: 5.6rem;
    z-index: 1;
    border-radius: 15px;
}

#doarQualquerValor input {
    width: 18rem;
    padding: 10px;
    border-radius: 10px;
    
}

#doarQualquerValor span {
    position: relative;
    bottom: 3px;
    font-weight: 500;
    font-size: 15px;
}

.valor-personalizado {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50%;
    gap: 1.5rem;
    margin-bottom: 3vh;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 6.6em;
    margin-top: 4.5em;
}

.card_doacao-valor {
    margin-top: 2rem;
    position: relative;
    background-color: #355844;
    border: 0.1px solid rgb(22, 22, 22);
    border-radius: 40px;
    box-shadow: 0px 5px 8px rgba(44, 44, 44, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 424px;
    height: 351px;
    color: white;
    font-size: 23px;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 1s ease forwards;
}

.card_doacao-valor:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}

/* Animação */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card_doacao-valor:nth-child(1) {
    animation-delay: 0.5s;
}

.card_doacao-valor:nth-child(2) {
    animation-delay: 0.7s;
}

.card_doacao-valor:nth-child(3) {
    animation-delay: 0.9s;
}


.card-text {
    display: block;
    position: absolute;
    top: 0;
    margin-top: -25px;
    background-color: #65558F;
    box-shadow: 0px 0px 8px rgb(44, 44, 44);
    border-radius: 1rem;
    padding: 5px 10px;
    color: white !important;
    font-size: 1.4rem;
}

.card_valor {
    font-size: 3.2rem;
    font-weight: var(--weight-title);
    margin-bottom: 0.7em;
}

.card_valor span {
    font-size: 1.8rem;
    margin-right: 10px;
}

.card_descricao {
    text-align: center;
    padding: 0 5px;
}

.container_cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.container-btn {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 4em;
    padding: 0;
}

.btnDoacao_outrosValores {
    display: flex;
    margin: 0 auto;
    width: 20%;
    height: 8vh;
    background: linear-gradient(90deg, 
        #4B0082, #8A2BE2, #9400D3, #7520a0, #582866);
    background-size: 400%; 
    box-shadow: 0px 5px 8px rgba(44, 44, 44, 0.5);
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    transition: background-position 0.4s ease, box-shadow 0.3s ease;
    animation: rainbowPurpleAnimation 3s ease infinite; 
}

.btnDoacao_outrosValores:hover {
    color: var(--white-color);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.8);
}

@keyframes rainbowPurpleAnimation {
    0% {
        background-position: 0% 50%; 
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%; 
    }
}

