/* Global Styles */
* {
  font-family: "Kumbh Sans", sans-serif;
}

/* Adoção Descrição */
.adocao-descricao {
  width: 100%;
  height: auto;
  background-color: #fdf8e6;
  display: grid;
  grid-template-columns: (2, 1fr);
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  column-gap: 10px;
  padding: 100px 0 50px 0;

  .descricao {
    width: 50%;
    height: fit-content;
    padding: 20px;

    h2 {
      color: #000;
      font-size: 72px;

      span {
        display: block;
        font-size: 32px;
        line-height: 5px;
      }
    }

    p {
      font-size: 24px;
    }
  }

  figure img {
    width: 40rem;
    border-radius: 5%;
  }
}



.doacao-adocao .descricao p {
  color: black;
  margin-top: 1rem;
  text-align: justify;
}


/* Adoção Cards */

.adoption-section {
  padding: 40px;
  background-color: #4CAF50;
  color: black;
}

.adoption-section h2 {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
  font-size: 3rem;
  font-weight: bold;
}

.layout-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-left: 80px;
  gap: 20px;
}

.filters {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.filters label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.filters select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin-right: 100px;
  margin-left: 50px;
}

.card-adocao {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  height: 500px;
  width: 300px;
}

.card-adocao:hover {
  transform: scale(1.05);
}

.card-adocao img {
  width: 90%;
  height: 200px;
  display: block;
  margin: 20px auto;
  object-fit: cover;
  border-radius: 2%;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-content h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-content p {
  margin: 5px 0;
}

.card-content button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card-content button:hover {
  background-color: #45a049;
}


/* Responsivo para telas menores */

@media (max-width:1439px) {

  /* Adoção Descrição */
  .adocao-descricao {
    padding: 80px 20px 50px 20px;

    .descricao {
      h2 {
        font-size: 50px;
      }

      span {
        font-size: 28px;
      }

      p {
        font-size: 20px;
      }
    }

    figure img {
      width: 30rem;
    }
  }
}

@media (max-width: 1023px) {

  /* Adoção Descrição */
  .adocao-descricao {
    padding: 50px 5px 10px 5px;

    .descricao {
      h2 {
        font-size: 36px;

        span {
          font-size: 22px;
        }
      }

      p {
        font-size: 18px;
      }
    }

    figure img {
      width: 20rem;
    }
  }




  .layout-container {
    grid-template-columns: 1fr;
    /* Empilha os filtros acima dos cards */
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    /* Remove padding extra */
    justify-content: center;
    /* Centraliza os itens */
  }

  .filters {
    margin: 0 auto;
    /* Centraliza os filtros */
    width: 80%;
    /* Ajusta a largura */
    margin-bottom: 20px;
    /* Espaçamento entre filtros e cards */
  }

  .card-container {
    justify-content: center;
    /* Centraliza os cards */
    margin: 0 auto;
    /* Remove margens laterais */
    width: 100%;
    /* Ajusta a largura para 100% */
  }

  .card-adocao {
    width: 80%;
    /* Ajusta a largura dos cartões */
    margin-bottom: 20px;
    /* Adiciona espaçamento entre os cartões */
  }
}

@media (max-width: 767px) {

  /* Adoção Descrição */
  .adocao-descricao {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 5px 30px 5px;

    .descricao {
      width: 100%;
    }

    figure img {
      width: 30rem;
    }
  }







  .adoption-section h2 {
    font-size: 2rem;
    /* Reduz o tamanho do título */
    margin: 20px 0;
    /* Ajusta o espaçamento */
  }

  .filters {
    width: 100%;
    /* Os filtros ocupam toda a largura */
    margin-bottom: 20px;
    /* Espaçamento entre filtros e cards */
  }

  .card-adocao {
    width: 100%;
    /* Cartões ocupam a largura total */
    margin: 10px 0;
    /* Ajusta margens */
  }
}

@media (max-width: 576px) {

  /* Adoção Descrição */
  .adocao-descricao figure img {
    width: 20rem;
  }


  .filters select {
    width: 100%;
    /* Alinha dropdowns para ocupar toda a largura */
  }

  .card-adocao img {
    height: 10rem;
    /* Reduz a altura da imagem */
  }

  .card-container {
    padding: 0 10px;
    /* Adiciona padding para evitar colar nas bordas */
  }
}

@media (max-width: 424px) {

  /* Adoção Descrição */
  .adocao-descricao {
    padding: 20px 5px 10px 5px;

    .descricao {
      h2 {
        font-size: 28px;

        span {
          font-size: 20px;
        }
      }

      p {
        font-size: 16px;
      }
    }

    figure img {
      width: 15rem;
    }
  }
}