@media(max-width:425px){
    .title-sessao{
      font-size: 3rem;
    }
    /* =========== menu mobile =========== */
    .container_logo {
      width: 70%;
  }
  .nav-menu{
    display: flex;
    flex-direction: column;
  }
    .redes{
        display: flex;
        position: absolute;
        flex-direction: row;
        width: 90%;
        justify-content: center;
        margin: 870px 0 0;
        height: fit-content;
      }
    .menu-top-mobile_none{
      display: none;
  }
    .container_menu-mobile, .logo-text{
      display: block;
  }
  
  .logo {    
      display: inline-block;
      width: 4rem;
  }
      .menu-top {
          display: flex;
          width: 100vw !important;
          justify-content:space-between;
          align-items:center;
          padding: 10px 20px !important;
    }
    .menu-top strong{
        color: #7fffd4a6;
        font-size: 1.5rem;
    }
    .menu-top-mobile_aparence{
    position: absolute;
    margin: 100px 0 0 -20px;
    background-color: var(--primary-color);
    padding: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 100;
  }
  .menu-top-mobile_aparence ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    align-items: center;
    gap: 15px;
  }
  .menu-top-mobile_aparence ul a:hover{
    display: block;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 16px;
    width: 200px;
    text-align: center;
  }
  .redes{
    position: absolute;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin: 370px 0 0;
    height: fit-content;
  } 
      /* =========== BANNER =========== */
      .banner{
        width: 100vw;
      }
      .banner h1{
        display: block;
        width: 100% !important;
        font-size: 2rem;
      }
  
  /* =========== sobre home =========== */
  .sobre{
    display: flex;
    flex-direction: column;
    padding: 100px 10px 50px 10px;
  }
  .sobre h2{
    font-size: 2rem;
  }
  .sobre img{
    display: none;
  }
  
  /* =========== doacao home =========== */
  
  .adocao {
    background-repeat: repeat;
    background-size: auto;
    height: fit-content;
    gap: 25px;
  
  }
  .card{
    background-size: cover;
    width: 320px;
  }
    /* =========== caroucel =========== */
    .caroucelAnimal{
      height: fit-content !important;
    }
    .dog-description{
      width: 100%;
      height: 600px;
    }
    .dog-description img{
      border-radius: 0px !important;
      display: block;
      width: 100% !important;
    }
    .dog-descri_body{
      display: block;
     position: absolute;
     bottom: 0;
     z-index: 200;
     padding: 0;
     background-color: rgba(206, 206, 206, 0.363);
    }
    .dog-descri_body .sessao-parag{
      display: block;
      width: 100%;
      font-size: 1rem;
      padding: 10px;
      margin: 0;
    }
    .dog-descri_body .title-sessao{
      font-size: 2rem;
      text-align: center;
    }
  
    /* =========== voluntarios =========== */
    .voluntarios{
      height: fit-content;
      background-size:300%;
      background-repeat: repeat;
    }
    .voluntarios figure{
      padding: 0 80px;
      background-color: #ffffffb2;
    }
  
      /* =========== footer =========== */
      footer{
        height: fit-content;
        padding: 0;
      }
      footer .redes{
        margin-top: 150px;
        width: 100%;
        background-color: #1b934f;
      }
      footer .autorais{
        font-size: 1rem;
      }
  
  }
  
  @media(max-width:320px){
    .sessao-parag {
      font-size: 20px;
      
      
    }
    /* =========== menu mobile =========== */
    div .img-logo {
      width: 60px;
    }
    .container_logo {
      gap: 20px
    }
    
    /* =========== doacao home =========== */
    .adocao{
      gap:  20px;
    }
  .card {
    width: 300px;
    height: 300px;
    background-size: cover;
  }
  .card-title{
    font-size: 2rem;
  }
  
  }