@media (max-width:300px) {
    .menu-top {
        position: fixed;
        top: 0;
        left: 0;

        background-color: var(--primary-color);
        z-index: 2;
        width: 100%;
        height: 80px;
    }

    .menu-top .logo {
        position: fixed;
        top: 20px;
        left: 10px;
    }

    .mobile-logo #titulo-logo {
        font-size: 1.2rem;
    }

    .menu-top .img-logo {
        width: 60px;
    }

    #menu,
    .menu-top .redes {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    button.hamburger {
        display: block;
    }
}