/* section sobre */
.sobre {
/*   background-image: url("../images/img/backgroundSobre.png"); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.sobre-body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 20% 20% 20%;
  gap: 50px;
  grid-template-areas:
      "titulo img"
      "paragh img"
      "... img";
  width: 98%;
  padding: 0px 32px;
  margin-top: 50px;

}
.btn-sobre{
  display: block;
  width: 300px;
  height: 55px;
  margin: 40px  auto;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 3px;
  background-color: #2C513C;
  border: 2px solid #2C513C;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
}
.btn-sobre:hover{
  background-color: #1B934F;
  color: #fff;
}

.title-sessao {
  grid-area: titulo;
  color: #64BDB1;
  font-size: 60px;
  font-weight: var(--weight-title);
  margin-top: 90px;
 
}

.sessao-parag {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--black-color);
  grid-area: paragh;
  font-size: 25px;
  width: 100%;
  height: fit-content;
}

.img-sobre {
  grid-area: img;
  height: 60vh;
  width: fit-content;
  border-radius: 2%;
}
div.img-sobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
p.sessao-parag {
  display: inline;
}

/* section adocao */
.adocao {
  display: flex;
  flex-flow: row wrap;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  padding-bottom: 50px;
  justify-content: space-around;
}
.card-adote,
.card-apadrinhe,
.dog-description {
    background-repeat: no-repeat;
    background-size: contain;
}

.adocao .title-sessao {
  color: var(--white-color);
  display: block;
  width: 100%;
  text-align: center;
}

.card {
  display: flex;
  position: relative;
  background-color: inherit;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d1d1;
  box-shadow: 2px 4px 6px #272727;
}

.animate {
  display: flex;
  animation: bounce;
  animation-duration: 1.7s;
}

.card:hover {
  display: flex;
  animation: bounce;
  animation-duration: 1s;
}

.card-title {
  display: block;
  font-size: 35px;
  color: var(--white-color);
  font-weight: var(--weight-title);
}

/* section voluntarios */
.voluntarios, .fornecedores {
  background-size: contain;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  z-index: 20;
  position: relative;
  justify-content: center;
  gap: 70px;
  padding-bottom: 70px !important;
}

.voluntarios .title-sessao, .fornecedores .title-sessao {
  display: block;
  width: 100%;
  color: #D0FFD5;
  text-align: center;
  margin-top: 40px;
}
.fornecedores .title-sessao{
color: var(--green-less);
}

figcaption {
  font-weight: var(--weight-title);
  text-align: center;
  font-size: 2rem;
}
/* fornecedores */

.fornecedores_item{
  margin-top: -20px;
  width: 250px;
  height: fit-content;
  border-radius: 0;  
  border: 1px solid #fff;
  box-shadow: 2px 4px 6px #b9b9b9;

}
.fornecedores figcaption{
  color: #1B934F;
  
}
.fornecedores_item img{
  display: block;
  width: 100%;
}
.fornecedores .fornecedores_item{

  transition: transform 0.4s ease;
}


.fornecedores .fornecedores_item:hover {
  background-color: var(--white-color);
  color: #00000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  transform: scale(1.1)}