
.menu-top{
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
    align-items: center;
    position: relative;
}
.logo{
    width: 5rem;
}

.menu-top ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding-top: 15px;
}
.menu-item{
    width: fit-content;
    height: fit-content;
}
.menu-item_link{
    display: inline-flex;
    padding: 10px;
    text-decoration: none;
    color: var(--white-color);
    transition: transform 0.4s ease;
}

.menu-item_link:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1)

}
nav .redes{
    width: fit-content;
}

.redes{
    display: flex;
    gap: 40px;
}
.redes a{
    color: var(--white-color);
}
/* baneer */
.banner{
    display: flex;
    background-image: url('./../../assets/images/img/imgBanner.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 90vh;
    align-items: center;
}
h1{
    font-weight: 400;
    font-size: 3rem;
    margin-left: 10vw;
    width: 30rem;
}
strong{
    margin-left: 10px;
    font-weight: var(--weight-title);
}
/* section sobre */
.sobre{
    background-image: url("./../../assets/images/img/backgroundSobre.png");
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.sobre-body{
    display: grid; 
    grid-template-columns: auto auto; 
    grid-template-rows: 20% 20%; 
    gap: 10px;
    grid-template-areas: 
    "titulo img"
    "paragh img";
    width: 90%;
    padding: 40px 32px;
}
.title-sessao{
    grid-area: titulo;
    color: #64BDB1;
    font-size: 48px;
    font-weight: var(--weight-title);
}
.sessao-parag{
    color: var(--black-color);
    grid-area: paragh;
}
.img-sobe{
    grid-area: img;
}
/* section adocao */
.adocao{
    background-image: url('./../../assets/images/img/backgoundAdocao.png');
    display: flex;
    flex-flow: row wrap;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 70vh;
    padding-bottom: 50px;

    align-items: center;
    justify-content: space-around;
}
.adocao .title-sessao{
    color: var(--white-color);
    display: block;
    width: 100%;
    text-align: center;
}
.card{
    display: flex;
    position: relative;
    background-color: inherit;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

  
.animate{
    display: flex;
    animation: bounce; 
    animation-duration: 1.7s; 
}
.card:hover{
    display: flex;
    animation: bounce; 
    animation-duration: 1s; 
  }
.card-title{
    display: block;
    font-size: 35px;
   color: var(--white-color);
   font-weight: var(--weight-title);
}
/* caroucel animas description */
.caroucelAnimal{
    z-index: 2;
    background-color: #fff;
}
.card-adote,.card-apadrinhe,.dog-description{
    background-image: url('./../../assets/images/imagePets/pet_resized.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
}
.card-apadrinhe{background-image: url('./../../assets/images/imagePets/pet7_resized.jpeg');}
.card-doe{background-image: url('./../../assets/images/imagePets/pet9_resized.jpeg');}
.dog-description{
    background-image: url('./../../assets/images/img/background-dogDescription.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-right: 30px;

}
section .img-dogDescription{
    width: 54%;
    height: 80vh;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}
.dog-descri_body{
    width: 40%;
}
.arrowAdot{
    color: #000;
    margin-right: 20px;
    padding: 10px;
}
.arrowAdot:hover{
    display: inline-block;
    margin: 0 1rem;
    animation: tada; 
    animation-duration: 2s;  
  }
.carousel{
width: 100% !important;
height: 50vh;
margin-bottom: 150px;
}
.carousel-control{
    width: fit-content;
    margin-top: 20% ;
}
/* section voluntarios */
.voluntarios{
    background-image: url('./../../assets/images/img/backgound-voluntarios.png');
    background-size: contain;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    z-index: 20;
    position: relative;
    justify-content: center;
    gap: 70px;
    padding-bottom: 70px !important;
}
.voluntarios .title-sessao{
    display: block;
    width: 100%;
    color: #D0FFD5;
    text-align: center;
    margin-top: 40px;
}
figcaption{
    font-weight: var(--weight-title);
    text-align: center;
    font-size: 2rem;
}
footer{
    display: flex;
    background-color: #1B934F;
    justify-content: space-between ;
    padding: 20px 32px;
    align-items: center;

}
.title-redes{
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;

}
footer a{
    display: inline-block;
}
footer .redes{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    gap: 5px;
}
.autorais{
    margin-top: 20px;
        text-align: center;
}
.redes a{
    display: inline-block;
    animation: bounce; 
    animation-duration: 1s; 
  }
  .redes a:nth-of-type(1){
    display: inline-block;
    animation: bounce; 
    animation-duration: 2s; 
  }

  .container_menu-mobile, .logo-text{display: none;}
  @media(max-width:425px){
    /* menu mobile */
    .redes{
        display: flex;
        position: absolute;
        flex-direction: row;
        width: 90%;
        justify-content: center;
        margin: 870px 0 0;
        height: fit-content;
      }
    .menu-top-mobile_none{display: none;}
    .container_menu-mobile, .logo-text{display: block;}
    .menu-top {
        padding: 16px;
    }
    .logo {    
        display: inline-block;
        width: 4rem;}
    .menu-top {
        display: inline-flex;
        width: 100%;
        justify-content:space-between;
        align-items:center;
    }
    .menu-top strong{
        color: #7fffd4a6;
        font-size: 1.5rem;
    }
    .menu-top-mobile_aparence{
    position: absolute;
    margin: 15vh 0 0 -16px;
    background-color: var(--primary-color);
    padding: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 100;
}
.menu-top-mobile_aparence ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    align-items: center;
    gap: 15px;
  }
  .menu-top-mobile_aparence ul a:hover{
    display: block;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 16px;
    width: 200px;
    text-align: center;
  }
  .redes{
    position: absolute;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin: 370px 0 0;
    height: fit-content;
  } 
  /* banner mobile */
  .banner{
    background-image: url('./../../assets/images/imagePets/pet24resized1.jpeg');

}
h1{
    font-size: 2rem;
    margin-top: -45vw;
}
}



  