*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}:root {
  /* cores */
  --primary-color: #2C513C;
  --green-less: #62BE8D;
  --white-color: #fff;
  --black-color: #000;
  /* textos */
  --weight-title: 800;
  --weight-paragraph: 400;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

body {
    max-width: 1440px;
    display: block;
    width: 100%;
    font-family: 'Kumbh Sans';
    margin: 0 auto;
    color: var(--white-color);
    font-size: 20px;
    font-weight: var(--weight-paragraph);
}

