/* caroucel animas description */
.caroucelAnimal {
  z-index: 2;
  background-color: #fff;
}
.dog-description {
  /* background-image: url('../images/img/background-dogDescription.png'); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;

}

section .img-dogDescription {
  width: 54%;
  height: 90vh;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}

.dog-descri_body {
  display: block;
  width: 40%;
  height: 90vh;
}


.fa-arrow-left {
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}

.fa-arrow-right {
  color: #000;
  text-shadow: -2px 2px 5px #000;
}

.arrowAdot {
  margin-right: 20px;
  padding: 10px;
}

.arrowAdot:hover {
  display: inline-block;
  margin: 0 1rem;
  animation: tada;
  animation-duration: 2s;
}

.carousel {
  width: 100% !important;
  height: 50vh;
  margin-bottom: 150px;
}

.carousel-control {
  width: fit-content;
  top: 40%;
}
